.main-contacto{
    display: block;
    align-items: center;
    text-align: center;
        .contacto-petgo{
            font-size: 30px;
            padding: 5px;
          }
          .form-section{
            padding: 0px;
            padding-top: 25px;
            padding-bottom: 25px;
          }
  
  }
  