

.form-section{
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(to bottom,#1c7e9f,#135b72);

.form-floating{
  width: 400px;
  margin: auto;

}
.text-input{
  color:grey;
  height: fit-content;
  
}

} 